<%- include("partials/header.ejs") %>

    <div class="container">
        <% if(locals.posts && posts.length >= 1){ %>
            <% for (let index=0; index < posts.length; index++) { %>
                <% if(locals.edit && edit == index){ %>
                    <form action="/" method="POST" class="">
                        <div class="pb-2">
                            <input name="title" type="text" class="form-control" value="<%=posts[index].title%>">

                        </div>
                        <div class="input-group mb-3 ">
                            <textarea  name="post" class="form-control write-post-text-area" aria-label="With textarea"><%= posts[index].post%></textarea>
                        </div>
                        <div class="d-flex ">
                            <button  name="index" value="<%= index %>" type="submit" class="btn btn-outline-light rounded-pill px-3">Save</button>
                        </div>
                
                    </form>
                <%} else{%>
                    <div>
                        <div class="p-4 my-2 bg-body-tertiary rounded post ">
                            <h4 class="fst-italic">
                                <%=posts[index].title%>
                            </h4>
                            <p class="mb-0">
                                <%= posts[index].post%>
                            </p>
                        </div>
                        <div class="d-flex">
                            <form action="/" method="GET">
                                <input type="hidden" name="action" value="edit">
                                <button type="submit" name="index" value="<%= index %>"
                                    class="btn btn-outline-light rounded-pill px-3 m-2">Edit</button>
                            </form>
    
                            <form action="/" method="GET">
                                <input type="hidden" name="action" value="delete">
                                <button type="submit" name="index" value="<%= index %>"
                                    class="btn btn-outline-light rounded-pill px-3 m-2">Delete</button>
                            </form>
    
                        </div>
    
                    </div>
                    <%}%>

                <% } %>
                    <% } else { %>
                        <p>There are no posts.</p>
                        <% } %>

    </div>
    <%- include("partials/footer.ejs") %>
        <script src="index.js"></script>